body {
    background-color: #242323;
    color: white;
}

#home-title {
  text-align: center;
}

#home-title .nav a{
  list-style: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #bb86fc;
  margin: 0px 20px 0px 20px;
}
#home-title .nav a:hover{
  color: #03dac5;
}



#part-1, #part-2, #part-3 {
    height: 500px;
    width: auto;
    margin: 20px;
    padding: 20px;
}

#part-1{
  text-align: left;
  width: 700px;
}

#part-2 {
  text-align: end;
}

#part-2 .container {
  text-align: right;
}

#part-3 .powerlifting {
  text-align: left;
}
  
#part-3 .gaming {
    text-align: right;
}
  
#part-3 .misc {
  text-align: left;
} 

#part-1 img[src="vybin logo.png"] {
  width: 200px; 
  height: auto; 
}
    
    
#part-2 img[src="https://www.almanac.com/sites/default/files/styles/or/public/image_nodes/chick-egg-shutterstock_2083148980.jpg?itok=De3nvckp"] {
  width: 300px; 
  height: auto;  
}
    
    
#part-3 img[src="lazy lifter.png"] {
  width: 150px; 
  height: auto; 
}
    
    
#part-3 img[src="32GI jungle blues 1.png"] {
  width: 250px; 
  height: auto; 
}