@media screen and (max-width 480px) {
  .column {
    width: 50%;
  }
  html{
    font-size: 8px;
  }
}


html {
  box-sizing: border-box;
  background-color: #242424;
  color: white;
  font-family: Roboto-Medium, Helvetica, Arial, sans-serif;
}



/* #home-title { for the assignment
  color:red;
} */

/* .section p { for the assignment
  color: green;
} */

/* body {
  margin: 8px;
} */


.row {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

.column {
  float: left;
  width: 33.3%;
}

.card {
  margin: auto;
  text-align: center;
  padding: 10%;
}

.home-title {
  padding: 20px;
  text-align: center;
  color: white;
}

.home-title p{
  color: grey;
}

.title {
  color: grey;
}


.section {
background-color: #1f1b2448;
width: 75%;
padding: 3%;
}


.section#programming {
margin-bottom: 10%;
border-radius: 0px 20px 20px 0px;
}

.section#chickens {
margin-bottom: 10%;
text-align: right;
margin-left: auto;
border-radius: 20px 0px 0px 20px;
}

.section#hobbies {
width: auto;
margin-bottom:5%;
word-wrap: break-word;
}

.section h3 {
  text-decoration: underline;
  margin-top: 3%;
}

footer {
  background-color: #bb86fc2a;
  border-radius: 15px;
  text-align: center;
  margin: auto;
  margin-top: 3%;
  width: 250px;
  font-size: 12px;
}

article {
  text-align: center;
}

article a {
  color: #bb86fc;
}

article a:hover {
  color: #bb86fc85;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #bb86fc;
  border-radius: 15px;
  text-align: center;
  width: 75%;
}

.button:hover {
  opacity: 50%;
}

#misc img[src="32GI jungle blues 1.png"] {
  width: 250px; 
  height: auto; 
  padding-left: 3%;
  object-fit: contain;
} 

#misc img[src="lilly.jpg"] {
  width: 250px;
  height: auto;
  padding-left: 10%;
  object-fit: contain;
}

#misc img[src="maurice.JPG"] {
  width: 250px;
  height: auto;
  padding-left: 10%;
  object-fit: contain;
}

.card img[src="https://www.almanac.com/sites/default/files/styles/or/public/image_nodes/chick-egg-shutterstock_2083148980.jpg?itok=De3nvckp"]{
  border-radius: 10px;
}

