html {
  box-sizing: border-box;
  background-color: #121212;
  color: white;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  float: left;
  width: 33.3%;
}

.card {
  margin: auto;
  text-align: center;
  padding: 10%;
}

.home-title {
  padding: 50px;
  text-align: center;
  color: white;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #bb86fc;
  border-radius: 15px;
  text-align: center;
  width: 75%;
}

.button:hover {
  opacity: 50%;
}

.section#hobbies img[src="32GI jungle blues 1.png"] {
  width: 250px; 
  height: auto; 
  padding-left: 10px;
} 

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}